@page "/"
@using AP.ClassLibrary.Model;
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

@inject NavigationManager _navManager
@inject IWebAssemblyHostEnvironment _environment
@inject IConfiguration _config

<PageTitle>Index</PageTitle>

<h1>Number of companies: @companies.Count</h1>

@*@if (IsConnected)
{
    <h3>On</h3>
}
else
{
    <h3>Off</h3>
}*@

<h3>@IsConnected</h3>
<h3></h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var companyInfo in companies)
        {
            <tr>
                <td>@companyInfo.CompanyId</td>
                <td>@companyInfo.CompanyName</td>
                <td>@companyInfo.Value</td>
                <td>@companyInfo.Time</td>

            </tr>
        }

    </tbody>
</table>





@code {
    private string BaseUrl { get; set; } = string.Empty;
    private HubConnection? _hubConnection;
    private string _hubUrl = string.Empty;
    private List<CompanyInfo> companies = new();

    private List<string> messages = new List<string>();
    private string ErrorMessage = "No Errors";

    protected override async Task OnInitializedAsync()
    {
        //BaseUrl = (string.IsNullOrEmpty(Environment.GetEnvironmentVariable("IS_RUNTIME_LOCAL"))) ? "https://afgangsprojekt-api.azurewebsites.net/thehub" : "https://localhost:7030";

        //var constr = _config.GetValue<string>("SignalRAccessToken");

        var baseUrl = _navManager.BaseUri;
        _hubUrl = baseUrl.TrimEnd('/') + "/thehub";
        _hubConnection = new HubConnectionBuilder()
            //.WithUrl(_environment.IsProduction() ? "https://blazorwasmsignalrappserver.service.signalr.net/thehub" : "https://localhost:7030/thehub",
            //options =>
            //{
            //    options.AccessTokenProvider = () => Task.FromResult(_config.GetValue<string?>("SignalRAccessToken"));
            //})
            .WithUrl(_hubUrl)
            //.WithAutomaticReconnect()
            .Build();

        //_hubConnection.HandshakeTimeout = new TimeSpan(0, 5, 0);

        _hubConnection.On<List<CompanyInfo>>("RecieveStockData", (newCompanies) =>
        {
            if (newCompanies.Any())
            {
                companies.Add(newCompanies[1]!);
                StateHasChanged();
            }
        });

        try
        {
            await _hubConnection.StartAsync();
        }
        catch (Exception ex)
        {

            ErrorMessage = ex.Message;
        }
    }

    public string IsConnected =>
        _hubConnection?.State.ToString()!;


    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
